<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Update </title>
</head>

<body>

    <ul>
        <li><a href="/rider">Rider</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/calendar">Calender</a></li>
        <li><a href="/results">Results</a></li>

    </ul>

    <div class="form">
        <% if(type==='rider' ) { %>
            <form action="/update-rider" method="POST"  enctype="multipart/form-data">
                <fieldset>
                    <legend>Update Riders</legend>
                    <div class="input-group d-none">
                        <label for="">Id: </label>
                        <input id="idrider" type="text" name="RiderId" value="<%=RiderId.idrider%>" />
                    </div>
                    <div class="input-group">
                        <label for="">Name: </label>
                        <input id="name" type="text" name="name" value="<%=RiderId.name%>" />
                    </div>
                    <div class="input-group">
                        <label for="">Idteam: </label>
                        <input type="text" name="idteam" value="<%=RiderId.idteam%>" />
                    </div>
                    <div class="input-group">

                        <label for="">pictureID: </label>
                        <img style="max-width: 200px; display: none;" src="/src/public/images/<%=RiderId.pictureId%>" />
                        <input type="file" name="pictureId" />
                    </div>

                    <div class="input-group">
                        <label for="">Points: </label>
                        <input type="text" name="points" value="<%=RiderId.points%>" />
                    </div>
                    <select name="season" required>
                                <option value="moto1">Moto 1</option>
                                <option value="moto2">Moto 2</option>
                                <option value="moto3">Moto 3</option>
                                <option value="motoE">Moto E</option>
                            </select>
                    <div class="input-group">
                        <label for="">Victory: </label>
                        <input type="text" name="victory" value="<%=RiderId.victory%>" />
                    </div>
                    <div class="input-group">
                        <label for="">Podium: </label>
                        <input type="text" name="podiumm" value="<%=RiderId.podium%>" />
                    </div>
                    <div class="input-group">
                        <label for="">race: </label>
                        <input type="text" name="race" value="<%=RiderId.race%>" />
                    </div>
                    <div class="input-group">
                        <label for="">poles: </label>
                        <input type="text" name="poles" value="<%=RiderId.poles%>" />
                    </div>
                    <div class="input-group">
                        <label for="">worldchampionships: </label>
                        <input type="text" name="worldchampionships" value="<%=RiderId.worldchampionships%>" />
                    </div>
                    <div>
                        <button>Update</button>
                    </div>
                </fieldset>
            </form>
            <% } else if(type==='team' ) { %>
                <form action="/update-team" method="POST"  enctype="multipart/form-data">
                    <fieldset>
                        <legend>Update Team</legend>
                        <div class="input-group d-none">
                            <label for="">Id Team: </label>
                            <input id="id" type="text" name="TeamId" value="<%=TeamId.idteam%>" />
                        </div>
                        <div class="input-group">
                            <label for="">Name: </label>
                            <input id="name" type="text" name="name" value="<%=TeamId.name%>" />
                        </div>
                        <div class="input-group">
                            <label for="">Country: </label>
                            <input type="text" name="country" value="<%=TeamId.country%>" />
                        </div>
                        <div class="input-group">

                            <label for="">pictureTeam: </label>
                            <img style="max-width: 200px; display: none;"
                                src="/images/<%=TeamId.pictureTeam%>" />
                            <input type="file" name="pictureTeam" />
                        </div>

                        <div class="input-group">
                            <label for="">Member: </label>
                            <input type="text" name="members" value="<%=TeamId.members%>" />
                        </div>
                        <div class="input-group">
                            <label for="">idcalendar</label>
                            <input type="text" name="idcalendar" id="" value="<%=TeamId.idcalendar%>">
                        </div>
                        <div>
                            <button>Update</button>
                        </div>
                    </fieldset>
                </form>
                <% } else if(type==='calendar' ) { %>
                    <form action="/update-calendar" method="POST" enctype="multipart/form-data">
                        <fieldset>
                            <legend>Update Calendar</legend>
                            <div class="input-group d-none">
                                <label for="">Id Calendar: </label>
                                <input id="idcalendar" type="text" name="CalendarId" value="<%=CalendarId.idcalendar%>" />
                            </div>
                            <div class="input-group">
                                <label for="">Address: </label>
                                <input id="address" type="text" name="address" value="<%=CalendarId.address%>" />
                            </div>
                            <div class="input-group">
                                <label for="">Date: </label>
                                <input type="date" name="dates" value="<%=CalendarId.dates%>" />
                            </div>
                            <div class="input-group">
                                <label for="">Time: </label>
                                <input type="time" name="times" value="<%=CalendarId.times%>" />
                            </div>
                            <select name="season" required>
                                <option value="moto1">Moto 1</option>
                                <option value="moto2">Moto 2</option>
                                <option value="moto3">Moto 3</option>
                                <option value="motoE">Moto E</option>
                            </select>
                            <div class="input-group">
                                <label for="">rounds: </label>
                                <input type="text" name="rounds" value="<%=CalendarId.rounds%>" />
                            </div>
                            <div class="input-group">
                                <label for="">calendar_name: </label>
                                <input type="text" name="calendar_name" value="<%=CalendarId.calendar_name%>" />
                            </div>
                            <div class="input-group">

                            <label for="">pictureTeam: </label>
                            <img style="max-width: 200px; display: none;"
                                src="/images/<%=CalendarId.pictureCountry%>" />
                            <input type="file" name="pictureCountry" />
                        </div>
                            <div>
                                <button>Update</button>
                            </div>
                        </fieldset>
                    </form>
                    <% }else if(type==='results' ) { %>
                        <form action="/update-result" method="POST">
                            <fieldset>
                                <legend>Update Results</legend>
                                <div class="input-group d-none">
                                    <label for="">Id Result: </label>
                                    <input id="idresult" type="text" name="ResultsId" value="<%=ResultsId.idresult%>" />
                                </div>
                                <div class="input-group">
                                    <label for="">Standing: </label>
                                    <input id="standing" type="text" name="standing" value="<%=ResultsId.standing%>" />
                                </div>
                                <div class="input-group">
                                    <label for="">points: </label>
                                    <input type="text" name="points" value="<%=ResultsId.points%>" />
                                </div>
                                <div class="input-group">
                                    <label for="">Id rider: </label>
                                    <input type="text" name="idrider" value="<%=ResultsId.idrider%>" />
                                </div>
                                <div class="input-group">
                                    <label for="">Id Calendar: </label>
                                    <input type="text" name="idcalendar" value="<%=ResultsId.idcalendar%>" />
                                </div>
                                <select name="season" required>
                                <option value="moto1">Moto 1</option>
                                <option value="moto2">Moto 2</option>
                                <option value="moto3">Moto 3</option>
                                <option value="motoE">Moto E</option>
                            </select>
                            <div class="input-group">
                                    <label for="">mvp_name: </label>
                                    <input type="text" name="mvp_name" value="<%=ResultsId.mvp_name%>" />
                                </div>
                                <div class="input-group">
                                    <label for="">time_finish: </label>
                                    <input type="time" name="time_finish" value="<%=ResultsId.time_finish%>" />
                                </div>

                                <div>
                                    <button>Update</button>
                                </div>
                            </fieldset>
                        </form>
                        <% } %>
    </div>
    <script src="/src/public/js/menu.js"></script>

</body>

</html>