<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">

<body>

    <title>Home page</title>
    </head>

    <body>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/creat">News</a></li>
        </ul>
        <div class="table-container">

            <div class="title">List users</div>

            <table class="w3-table-all w3-hoverable">
                <thead>
                    <tr class="w3-light-grey">
                        <th>ID</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <% listUsers.forEach(function(user) { %>
                    <tr>
                        <td>
                            <%= user.id %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= user.city %>
                        </td>
                        <td>
                            <a href="/update/<%= user.id%>">Edit</a>
                            <form action="/delete-user/<%= user.id%>" method="POST">
                                <button >Delete</button>
                            </form>
                        </td>
                    </tr>
                    <%});%>
            </table>
        </div>
        </div>

    </body>

</html>