<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">

<body>

    <title>Home page</title>
    </head>

    <body>
        <ul>
            <li><a href="/rider">Rider</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/calendar">Calender</a></li>
            <li><a href="/results">Results</a></li>

        </ul>
        <div class="table-container">

            <div class="title">
                <% if(type==='rider' ) { %>
                    List rider
                    <% } else if(type==='team' ) { %>
                        List Team
                        <% } else if(type==='calendar' ) { %>
                            List Calendar
                            <% } else if(type==='results' ) { %>
                                List Results
                                <% } %>
            </div>

            <table class="w3-table-all w3-hoverable">
                <thead>
                    <% if(type==='rider' ) { %>
                        <tr class="w3-light-grey">
                            <div>
                                        <a href="/CreateR">Create</a>
                                    </div>
                            <th>ID</th>
                            <th>Name</th>
                            <th>IDteam</th>
                            <th>Picture</th>
                            <th>Points</th>
                            <th>Action</th>
                            
                        </tr>
                        <% } else if(type==='team' ) { %>
                            <tr class="w3-light-grey">
                                <div>
                                        <a href="/CreateT">Create</a>
                                    </div>
                                <th>Idteam</th>
                                <th>name</th>
                                <th>country</th>
                                <th>menber</th>
                                <th>Picture</th>
                                <th>idcalender</th>
                                <th>Action</th>
                            </tr>
                            <% } else if(type==='calendar' ) { %>
                                <tr class="w3-light-grey">
                                    <div>
                                        <a href="/CreateC">Create</a>
                                    </div>
                                    <th>IdCalender</th>
                                    <th>Address</th>
                                    <th>Date</th>
                                    <th>Time</th>

                                    <th>Action</th>
                                </tr>
                                <% } else if(type==='results' ) { %>
                                    <tr class="w3-light-grey">
                                        <div>
                                        <a href="/CreateS">Create</a>
                                    </div>
                                        <th>Idresults</th>
                                        <th>Standing</th>
                                        <th>Points</th>
                                        <th>idrider</th>
                                        <th>idcalendar</th>
                                        <th>Action</th>
                                    </tr>
                                    <% } %>
                </thead>
                <% listUsers.forEach(function(item) { %>
                    <% if(type==='rider' ) { %>
                        <tr>
                            <td>
                                <%= item.idrider %>
                            </td>
                            <td>
                                <%= item.name %>
                            </td>
                            <td>
                                <%= item.idteam %>
                            </td>
                            <td>
                                <img src="/images/<%= item.pictureId%>" alt="">

                            </td>
                            <td>
                                <%= item.points %>
                            </td>
                            <td>
                                <a href="/updateR/<%= item.idrider%>">Edit</a>
                                <form action="/delete-rider/<%= item.idrider%>" method="POST">
                                    <button>Delete</button>
                                </form>
                            </td>
                        </tr>

                        <% } else if(type==='team' ) { %>
                            <tr>
                                <td>
                                    <%= item.idteam %>
                                </td>
                                <td>
                                    <%= item.name %>
                                </td>
                                <td>
                                    <%= item.country %>
                                </td>
                                <td>
                                    <%= item.membes %>
                                </td>
                                <td>
                                    <img src="/images/<%= item.pictureTeam%>" alt="">

                                </td>
                                <td>
                                    <%= item.idcalendar %>
                                </td>
                                <td>
                                    
                                    <a href="/updateT/<%= item.idteam%>">Edit</a>
                                    <form action="/delete-team/<%= item.idteam%>" method="POST">
                                        <button>Delete</button>
                                    </form>
                                </td>
                            </tr>

                            <% } else if(type==='calendar' ) { %>
                                <tr>
                                    <td>
                                        <%= item.idcalendar %>
                                    </td>
                                    <td>
                                        <%= item.address %>
                                    </td>
                                    <td>
                                        <%= item.dates %>
                                    </td>
                                    <td>
                                        <%= item.times %>
                                    </td>
                                    <td>
                                        
                                        <a href="/updateC/<%= item.idcalendar%>">Edit</a>
                                        <form action="/delete-calendar/<%= item.idcalendar%>" method="POST">
                                            <button>Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                <% } else if(type==='results' ) { %>
                                    <tr>
                                        <td>
                                            <%= item.idresult %>
                                        </td>
                                        <td>
                                            <%= item.standing %>
                                        </td>
                                        <td>
                                            <%= item.points %>
                                        </td>
                                        <td>
                                            <%= item.idrider %>
                                        </td>
                                        <td>
                                            <%= item.idcalendar %>
                                        </td>
                                        <td>
                                            
                                            <a href="/updateS/<%= item.idresult%>">Edit</a>

                                            <form action="/delete-result/<%= item.idresult%>" method="POST">
                                                <button>Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% }); %>
            </table>
        </div>
        </div>

    </body>

</html>