<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <title>MotoGP</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
  <header>
    <div class="header-top">
      <div class="empty"></div>
      <ul>
        <li><a href="">Vote</a></li>
        <li><a href="">Tickets</a></li>
        <li><a href="">Hospitality</a></li>
        <li><a href="">Experiences</a></li>
        <li><a href="">Store</a></li>
        <li><a href="">Authentics</a></li>
      </ul>

      <a href="" class="i"><img src="/images/timeingpass.svg" alt=""></a>
      <a href="" class="i"><img src="/images/videopass.svg" alt=""></a>
      <a href="" class="subcribe">Subcribe</a>
      <a href="" class="Eng"><select name="" id="">
          <option value="">Eng</option>
        </select></a>
      <a href="" class="im"><img src="/images/FIM-logo.svg" alt=""></a>

    </div>
    <div class="border-white"></div>
    <div class="header-bottom">
      <div class="xoc" onclick="toggleMenu()"><i class="fa-solid fa-bars" style="color: white; font-size: 24px;"></i>
      </div>
      <div class="sidebar" id="sidebar">
        <div class="close-btn" onclick="toggleMenu()">
          <i class="fa-solid fa-xmark"></i>
        </div>
        <ul>
          <li><a href="/show-calendar">🏁 Calendar</a></li>
          <li><a href="/show-result">📊 Results</a></li>
          <li><a href="#">🏆 Standings</a></li>
          <li><a href="/show-rider">🏍️ Riders & Teams</a></li>
          <li><a href="#">🎥 VideoPass</a></li>
          <li><a href="#">📰 News</a></li>
          <li><a href="#">ℹ️ About MotoGP™</a></li>
        </ul>
      </div>

      <a href="/"><img src="/images/logo.png" alt=""></a>
      <ul>
        <li><a href="/show-calendar">Calendar</a></li>
        <li><a href="/show-result">Results & Standings</a></li>
        <li><a href="/show-rider">Riders & Teams</a></li>
        <li><a href="">VideoPass</a></li>
        <li><a href="">Videos</a></li>
        <li><a href="">News</a></li>
      </ul>
      <div class="xoc1">
      </div>

      <ul class="login">
        <li><a href="">Login</a></li>
        <li><a href="">Register</a></li>
      </ul>
    </div>
  </header>
  <div class="vien"></div>
  <% if(type==='home' ) { %>

    <!-- Các phần nội dung, Ngân làm vào đây -->
    <div id="home" class="page active">

    </div>
    <% } else if(type==='calendar' ) { %>

      <!-- Các phần nội dung, Duy làm vào đây -->
      <div id="calendar" class="page">

      </div>
      <% } else if(type==='results' ) { %>
        <!-- Các phần nội dung, Hoàng làm vào đây -->
        <div id="results" class="page">

        </div>

        <!-- Các phần nội dung, Ngọc làm vào đây -->
        <% }else if(type==='rider' ) { %>

          <div id="riders" class="page">
            <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
            <section id="riders-section">
              <div class="riders-header">
                <h1>RIDERS & TEAMS</h1>
                <div class="tab-menu">

                  <a href="/show-rider"><button class="active">RIDERS</button></a>
                  <a href="/show-team"><button class="">TEAMS</button></a>
                  <button>LEGENDS</button>
                </div>
              </div>

              <div class="category-filter">
                <button class="selected">MotoGP™</button>
                <button>Moto2™</button>
                <button>Moto3™</button>
                <button>MotoE™</button>
              </div>

              <div class="official-title">
                <h2>OFFICIAL</h2>
              </div>
              <!-- sua -->
              <div class="rider-grid">
                <% listUsers.forEach(function(item) { %>

                  <div class="rider-card" onclick="openRiderDetail()">
                    <img src="/images/<%= item.pictureId%>" alt="">
                    <div class="rider-info">
                      <h2>
                        <%= item.idrider %><br><span>
                            <%= item.name %>
                          </span>
                      </h2>
                      <p>🇪🇸 Spain | <%= item.name %>
                      </p>
                      <p><strong>ID:</strong>
                        <%= item.idrider %>
                      </p>
                      <p><strong>Team ID:</strong>
                        <%= item.idteam %>
                      </p>
                      <p><strong>Points:</strong>
                        <%= item.points %>
                      </p>
                    </div>
                  </div>
                  <% }); %>


                    <div class="rider-card empty"></div>

                    <div class="official-title">
                      <h2>WILDCARDS</h2>
                    </div>

                    <div class="rider-card empty"></div>
                    <div class="rider-card empty"></div>
                    <div class="rider-card empty"></div>

                    <div class="rider-card" onclick="openRiderDetail()">
                      <img src="/images/rider23.png" alt="Takaaki Nakagami">
                      <div class="rider-info">
                        <h2>#TN30<br><span>Takaaki Nakagami</span></h2>
                        <p>🇯🇵 Japan | HRC Test Team</p>
                        <p><strong>ID:</strong> 23</p>
                        <p><strong>Team ID:</strong> HRC</p>
                        <p><strong>Points:</strong> 31</p>
                      </div>
                    </div>

                    <div class="rider-card empty"></div>
                    <div class="rider-card empty"></div>
                    <div class="rider-card empty"></div>

                    <div class="official-title">
                      <h2>SUBSTITUTE</h2>
                    </div>

                    <div class="rider-card empty"></div>
                    <div class="rider-card empty"></div>
                    <div class="rider-card empty"></div>

                    <div class="rider-card" onclick="openRiderDetail()">
                      <img src="/images/rider24.png" alt="Lorenzo Savadori">
                      <div class="rider-info">
                        <h2>#LS32<br><span>Lorenzo Savadori</span></h2>
                        <p>🇮🇹 Italy | Aprilia Racing</p>
                        <p><strong>ID:</strong> 24</p>
                        <p><strong>Team ID:</strong> APR</p>
                        <p><strong>Points:</strong> 0</p>
                      </div>
                    </div>

                    <div class="rider-card empty"></div>
                    <div class="rider-card empty"></div>
                    <div class="rider-card empty"></div>

                    <div class="official-title">
                      <h2>TEST RIDERS</h2>
                    </div>

                    <div class="rider-card empty"></div>
                    <div class="rider-card empty"></div>
                    <div class="rider-card empty"></div>

                    <div class="rider-card" onclick="openRiderDetail()">
                      <img src="/images/rider25.png" alt="Andrea Dovizioso">
                      <div class="rider-info">
                        <h2>#AD04<br><span>Andrea Dovizioso</span></h2>
                        <p>🇮🇹 Italy | Ducati Test Rider</p>
                        <p><strong>ID:</strong> 25</p>
                        <p><strong>Team ID:</strong> DUC</p>
                        <p><strong>Points:</strong> 0</p>
                      </div>
                    </div>

                    <div class="rider-card" onclick="openRiderDetail()">
                      <img src="/images/rider26.png" alt="Augusto Fernandez">
                      <div class="rider-info">
                        <h2>#AF7<br><span>Augusto Fernandez</span></h2>
                        <p>🇪🇸 Spain | KTM Test Rider</p>
                        <p><strong>ID:</strong> 26</p>
                        <p><strong>Team ID:</strong> KTM</p>
                        <p><strong>Points:</strong> 0</p>
                      </div>
                    </div>

                    <div class="rider-card" onclick="openRiderDetail()">
                      <img src="/images/rider27.png" alt="Dani Pedrosa">
                      <div class="rider-info">
                        <h2>#DP26<br><span>Dani Pedrosa</span></h2>
                        <p>🇪🇸 Spain | KTM Test Rider</p>
                        <p><strong>ID:</strong> 27</p>
                        <p><strong>Team ID:</strong> KTM</p>
                        <p><strong>Points:</strong> 0</p>
                      </div>
                    </div>

                    <div class="rider-card" onclick="openRiderDetail()">
                      <img src="/images/rider28.png" alt="Aleix Espargaro">
                      <div class="rider-info">
                        <h2>#AE41<br><span>Aleix Espargaro</span></h2>
                        <p>🇪🇸 Spain | Aprilia Racing</p>
                        <p><strong>ID:</strong> 28</p>
                        <p><strong>Team ID:</strong> APR</p>
                        <p><strong>Points:</strong> 140</p>
                      </div>
                    </div>


                    <div class="rider-card" onclick="openRiderDetail()">
                      <img src="/images/rider29.png" alt="Pol Espargaro">
                      <div class="rider-info">
                        <h2>#PE44<br><span>Pol Espargaro</span></h2>
                        <p>🇪🇸 Spain | KTM Test Rider</p>
                        <p><strong>ID:</strong> 29</p>
                        <p><strong>Team ID:</strong> KTM</p>
                        <p><strong>Points:</strong> 0</p>
                      </div>
                    </div>

                    <div class="rider-card" onclick="openRiderDetail()">
                      <img src="/images/rider30.png" alt="Michele Pirro">
                      <div class="rider-info">
                        <h2>#MP51<br><span>Michele Pirro</span></h2>
                        <p>🇮🇹 Italy | Ducati Test Rider</p>
                        <p><strong>ID:</strong> 30</p>
                        <p><strong>Team ID:</strong> DUC</p>
                        <p><strong>Points:</strong> 0</p>
                      </div>
                    </div>
              </div>

              <div class="official-title">
                <!-- den day -->
                <h2>BEST SELLERS</h2>
              </div>

              <div class="shirt-slider">
                <div class="shirt-track">
                  <img src="/images/rider31.png" alt="Shirt 1">
                  <img src="/images/rider32.png" alt="Shirt 2">
                  <img src="/images/rider33.png" alt="Shirt 3">
                  <img src="/images/rider34.png" alt="Shirt 4">
                  <img src="/images/rider35.png" alt="Shirt 5">
                  <img src="/images/rider36.png" alt="Shirt 6">
                  <img src="/images/rider37.png" alt="Shirt 7">
                  <img src="/images/rider38.png" alt="Shirt 8">
                  <img src="/images/rider39.png" alt="Shirt 9">
                </div>
              </div>

              <div class="favourite-rider">
                <div class="favourite-img">
                  <img src="/images/rider40.png" alt="Favourite Riders">
                </div>

                <div class="favourite-text">
                  <h2>👀 WHO'S YOUR FAVOURITE RIDER? 👀</h2>
                  <p>Personalize your MotoGP™ experience by logging in and selecting your all-time favourite rider on
                    your account!</p>
                  <a href="#" class="select-btn">SELECT RIDER NOW!</a>
                </div>
              </div>

            </section>
          </div>

          <% } else if(type==='team' ) { %>
            <div id="riders" class="page">
              <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
              <section id="riders-section">
                <div class="riders-header">
                  <h1>RIDERS & TEAMS</h1>
                  <div class="tab-menu">

                    <a href="/show-rider"><button class="">RIDERS</button></a>
                    <a href="/show-team"><button class="active">TEAMS</button></a>
                    <button>LEGENDS</button>
                  </div>
                </div>

                <div class="category-filter">
                  <button class="selected">MotoGP™</button>
                  <button>Moto2™</button>
                  <button>Moto3™</button>
                  <button>MotoE™</button>
                </div>
                <!-- Phần teams đây nhé -->
                <div class="official-title">
                  <h2>OFFICIAL</h2>
                </div>

                <div class="team-grid">
                  <% listUsers.forEach(function(item) { %>
                    <div class="team-card" onclick="openTeamDetail()">
                      <img src="/images/<%= item.pictureTeam%>" alt="">
                      <div class="team-info">
                        <h2>
                          <%= item.name %>
                        </h2>
                        <p><strong>
                            <%= item.idteam %>
                          </strong> APR</p>
                        <p><strong>
                            <%= item.country %>
                          </strong>
                          <%= item.membes %>
                        </p>
                      </div>
                    </div>
                    <% }); %>
                </div>

                <% } %>

                  <footer>
                    <img class="logo" src="/images/footer1.png" alt="" class="motogp">
                    <p>Official Sponsors</p>
                    <div class="logong">
                      <ul>
                        <li><a href=""><img src="/images/footer2.png" alt=""></a></li>
                        <li><a href=""><img src="/images/footer2.png" alt=""></a></li>
                        <li><a href=""><img src="/images/footer2.png" alt=""></a></li>
                        <li><a href=""><img src="/images/footer2.png" alt=""></a></li>
                        <li><a href=""><img src="/images/footer2.png" alt=""></a></li>
                        <li><a href=""><img src="/images/footer2.png" alt=""></a></li>
                      </ul>
                    </div>
                    <div class="container">
                      <ul class="media">
                        <li><a href="" class="ma">Media & Commercial</a></li>
                        <li><a href="">Official Sponsors</a></li>
                        <li><a href="">TV Broadcast</a></li>
                        <li><a href="">MotoGP™ Apps</a></li>
                      </ul>
                      <ul class="media">
                        <li><a href="" class="ma">Media & Commercial</a></li>
                        <li><a href="">Official Sponsors</a></li>
                        <li><a href="">TV Broadcast</a></li>
                        <li><a href="">MotoGP™ Apps</a></li>
                      </ul>
                      <ul class="media">
                        <li><a href="" class="ma">Media & Commercial</a></li>
                        <li><a href="">Official Sponsors</a></li>
                        <li><a href="">TV Broadcast</a></li>
                        <li><a href="">MotoGP™ Apps</a></li>
                      </ul>
                      <ul class="media">
                        <li><a href="" class="ma">Media & Commercial</a></li>
                        <li><a href="">Official Sponsors</a></li>
                        <li><a href="">TV Broadcast</a></li>
                        <li><a href="">MotoGP™ Apps</a></li>
                      </ul>
                      <ul class="media">
                        <li><a href="" class="ma">Media & Commercial</a></li>
                        <li><a href="">Official Sponsors</a></li>
                        <li><a href="">TV Broadcast</a></li>
                        <li><a href="">MotoGP™ Apps</a></li>
                      </ul>

                    </div>
                    <div class="contact">
                      <div class="col-1"></div>
                      <div class="col-2">
                        <p>Download the Official MotoGP™ App</p>

                      </div>
                      <div class="col-4">
                        <a href=""><img src="/images/f1.png" alt=""></a>
                      </div>
                      <div class="col-6">
                        <a href=""><img src="/images/f2.png" alt=""></a>
                      </div>
                    </div>
                    <div class="border-black"></div>
                    <div class="end">
                      <p>© 2025 Dorna Sports SL. All rights reserved. All trademarks are the property of their
                        respective
                        owners.</p>
                    </div>
                  </footer>
                  <script>
                    function toggleMenu() {
                      document.getElementById('sidebar').classList.toggle('open');
                    }

                  </script>
</body>

</html>